<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Leads</title>

	<!-- Libs CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/bicon.min.css">

	<!-- Template CSS -->
	<link rel="stylesheet" href="assets/css/slick.min.css">
	<link rel="stylesheet" href="assets/css/simplelightbox.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/main.css">

	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" >

</head>
<body data-spy="scroll" data-target=".navigation">

	<section id="intro" class="intro-section cover fixed">

		<!-- Blue overlay -->
		<div class="overlay"></div>

		<div class="navigation">
			<div class="container">
				<div class="row">
					<nav class="navbar navbar-toggleable-md navbar-inverse">
						<!-- Replace with logo -->
						<a href="#" class="navbar-brand" id="logo">
							Snowy
						</a>
						<!-- End Logo -->
						<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
					  	<span class="navbar-toggler-icon"></span>
					  	<span class="navbar-toggler-icon"></span>
					  	<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end" id="main-nav">
							<!-- Start Navigation -->
						  <ul class="navbar-nav">
					      <li class="nav-item">
				          <a class="nav-link" href="#intro">Intro</a>
					      </li>
					      <li class="nav-item">
				          <a class="nav-link" href="#how-it-works">How it works</a>
					      </li>
					      <li class="nav-item">
				          <a class="nav-link" href="#features">Our Offer</a>
					      </li>
					      <li class="nav-item">
				          <a class="nav-link" href="#screenshots">Screenshots</a>
					      </li>
					      <li class="nav-item">
				          <a class="nav-link" href="#pricing">Pricing</a>
					      </li>
					      <li class="nav-item">
				          <a class="nav-link" href="#testimonials">Testimonial</a>
					      </li>
						  </ul>
							<!-- End Navigation -->
						</div>
					</nav>
				</div>
			</div>
		</div>
			
		<div class="container banner-intro">
			<div class="row headline headline-big mb-30 text-center white-text">
				<!-- Intro Headline -->
				<div class="col-md-12">
					<h2>Converting Leads Into Sales</h2>
					<h3>Easily increase your sales by 120%.</h3>
				</div>
				<!-- End Intro -->
			</div>
			<div class="row">
				<div class="col-md-6 offset-md-3 text-center white-text">
					<p>Varius feugiat rabitur nulla arcu sodales sapien lacus sed cursus amet cursus porta, egestas luctus feugiat egestas ultrices luctus</p>
					<!-- Intro Form -->
					<form action="#" method="post" class="form leads-form">
						<div class="input-group">
	            <input type="text" class="form-control email-capture" placeholder="Enter your email address..">
	            <span class="input-group-btn">
	              <button class="btn btn-submit-form" type="submit">Start Your Trial</button>
	            </span>
	        	</div>
					</form>
					<!-- Error Message -->
					<div class="error-msg">
						<div class="alert alert-danger" role="alert">
						  <strong>Oh snap!</strong> Something went wrong! Please try again.
						</div>
					</div>
					<!-- End Intro Form -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Section -->

	<!-- Partners -->
	<div class="pad30 bg-grey bb--grey hidden-xs-down">
		<div class="container">
			<ul class="list-inline clients-logo text-center">
				<li class="list-inline-item"><img src="assets/images/logo1.png" alt="" title=""></li><!-- Partner image -->
				<li class="list-inline-item"><img src="assets/images/logo2.png" alt="" title=""></li>
				<li class="list-inline-item"><img src="assets/images/logo3.png" alt="" title=""></li>
				<li class="list-inline-item"><img src="assets/images/logo1.png" alt="" title=""></li>
				<li class="list-inline-item"><img src="assets/images/logo2.png" alt="" title=""></li>
			</ul>
		</div>
	</div>
	<!-- End Partners -->

	<!-- Typography / Introduction -->
	<section id="feature-bullet" class="section section-feature-bullet">
		<div class="container">
			<div class="row vcenter">
				<div class="col-md-6">
					<img src="assets/images/display-phone-2.png" class="img-responsive img-center" alt="">
				</div>
				<div class="col-md-6">
					<div class="headline headline-small headline-left">
						<h2>Figures that talk</h2>
						<h3>Check out what our quarterly says</h3>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ea consectetur quibusdam, maiores facilis perspiciatis, dolor omnis aspernatur adipisci eligendi voluptatum. Obcaecati ea deserunt doloribus, voluptates accusamus hic autem commodi.</p>
					<!-- List class for blue icons -->
					<ul class="feature-list-summary">
						<li>Many addon features</li>
						<li>Credit history</li>
						<li>Many addon features</li>
						<li>Credit history</li>
					</ul>
					<!-- End List Class -->
				</div>
			</div>
			<hr class="m-60">
			<div class="row">
				<div class="col-md-7">
					<h3>Making it simple</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel odio aspernatur exercitationem corporis possimus.</p>
					<div class="row">
						<div class="col-md-6">
							<div class="icon-top">
								<i class="bi bi-pencil"></i>
								<h4>SEO Friendly</h4>
								<p>Lorem ipsum dolor sit amet elit. Cum  iste ipsam quia repellat omnis iusto.</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="icon-top">
								<i class="bi bi-screen"></i>
								<h4>Quick installation</h4>
								<p>Lorem ipsum dolor sit amet elit. Cum  iste ipsam quia repellat omnis iusto.</p>
							</div>							
						</div>
					</div>
					<div class="row hidden-xs-down">
						<div class="col-md-12">
							<div class="testimonial-mini mt-30">
								<img src="assets/images/headshot1.png" alt="" title="">
								<p>In fringilla vestibulum turpis quis condimentum. Aliquam erat volutpat. Lorem ipsum dolor sit amet elit. Cum  iste ipsam quia.</p>
								<div class="testimonial-mini-footer">
									<span>Justin Doe </span>
									<div class="stars stars4"></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<img src="assets/images/ipad2.png" class="img-responsive img-center" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- End introduction -->

	<!-- How it works -->
	<section id="how-it-works" class="section bg-blue">
		<div class="container">
			<div class="row">
				<div class="col-md-12 headline text-center white-text">
					<h2>How it works</h2>
					<h3>Lorem ipsum dolor sit amet elit.</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<!-- Accordion -->
					<div id="accordion" role="tablist" aria-multiselectable="true" class="accordion white-text">
						<!-- Accordion Title -->
						<div class="card">
							<div class="card-header" role="tab" id="heading1">
								<h5 class="mb-0">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
										How does this work ?
									</a>
								</h5>
							</div>
							<!-- End Accordion Title -->
							<!-- Accordion Content -->
							<div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1">
								<div class="card-block">
									<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
									<ul>
										<li>Many addon features</li>
										<li>Credit history</li>
										<li>Many addon features</li>
										<li>Credit history</li>
									</ul>
								</div>
							</div>
							<!-- End Accordion Content -->
						</div>
						<div class="card">
							<div class="card-header" role="tab" id="heading2">
								<h5 class="mb-0">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
										What are multiple licenses ?
									</a>
								</h5>
							</div>
							<div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2">
								<div class="card-block">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, enim, asperiores sapiente consequatur cumque rerum necessitatibus.</p>
									<p>Delectus aliquam quam, vel, quae perferendis necessitatibus sequi commodi fugiat cumque! Consectetur, animi, quisquam.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" role="tab" id="heading3">
								<h5 class="mb-0">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
										Can I use the images provided ?
									</a>
								</h5>
							</div>
							<div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3">
								<div class="card-block">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, enim, asperiores sapiente consequatur cumque rerum necessitatibus.</p>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-md-7">
					<iframe src="http://player.vimeo.com/video/75188030"></iframe> <!-- Responsive video iframe -->
				</div>
			</div>
		</div>
	</section>
	<!-- End How it works -->

	<!-- Features -->
	<section id="features" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 headline text-center">
					<h2>What we offer</h2>
					<h3>Lorem ipsum dolor sit amet elit.</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<!-- Feature box -->
					<div class="feature-box">
						<i class="bi bi-bond"></i><!-- Feature Box Icon -->
						<h4>60 days guarantee</h4><!-- Feature Box Title -->
						<p>Lorem ipsum dolor sit amet elit. Cum  iste ipsam quia repellat omnis iusto cupiditate.</p><!-- Feature Box Details -->
					</div>
					<!-- End Feature Box -->
				</div>
				<div class="col-md-4">
					<div class="feature-box">
						<i class="bi bi-chat-bubble"></i>
						<h4>CSS3 / HTML5</h4>
						<p>Lorem ipsum dolor sit amet elit. Cum  iste ipsam quia repellat omnis iusto cupiditate.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-box">
						<i class="bi bi-shopping-cart-emply"></i>
						<h4>W3C Compliant</h4>
						<p>Lorem ipsum dolor sit amet elit. Cum  iste ipsam quia repellat omnis iusto cupiditate.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="feature-box">
						<i class="bi bi-finger-print"></i>
						<h4>Bootstrap 4</h4>
						<p>Lorem ipsum dolor sit amet elit. Cum  iste ipsam quia repellat omnis iusto cupiditate.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-box">
						<i class="bi bi-group"></i>
						<h4>Multiple Layouts</h4>
						<p>Lorem ipsum dolor sit amet elit. Cum  iste ipsam quia repellat omnis iusto cupiditate.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-box">
						<i class="bi bi-headset"></i>
						<h4>Single License</h4>
						<p>Lorem ipsum dolor sit amet elit. Cum  iste ipsam quia repellat omnis iusto cupiditate.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="feature-box">
						<i class="bi bi-layer"></i>
						<h4>Plug &amp; Play</h4>
						<p>Lorem ipsum dolor sit amet elit. Cum  iste ipsam quia repellat omnis iusto cupiditate.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-box">
						<i class="bi bi-pendrive"></i>
						<h4>Responsive</h4>
						<p>Lorem ipsum dolor sit amet elit. Cum  iste ipsam quia repellat omnis iusto cupiditate.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-box">
						<i class="bi bi-paper"></i>
						<h4>24/7 Support</h4>
						<p>Lorem ipsum dolor sit amet elit. Cum  iste ipsam quia repellat omnis iusto cupiditate.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Features -->

	<!-- Screenshots -->
	<section id="screenshots" class="section bg-grey">
		<div class="container">
			<div class="row">
				<div class="col-md-12 headline text-center">
					<h2>How it looks</h2>
					<h3>Lorem ipsum dolor sit amet elit.</h3>
				</div>
			</div>
			<!-- Screenshots Listing -->
			<div class="row">
				<div class="col-md-3">
					<div class="screenshot">
							<a href="assets/images/thumb.png"><img src="assets/images/thumb.png" alt="" title=""></a><!-- Image URL -->
					</div>
				</div>
				<div class="col-md-3">
					<div class="screenshot">
							<a href="assets/images/thumb.png"><img src="assets/images/thumb.png" alt="" title=""></a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="screenshot">
							<a href="assets/images/thumb.png"><img src="assets/images/thumb.png" alt="" title=""></a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="screenshot">
							<a href="assets/images/thumb.png"><img src="assets/images/thumb.png" alt="" title=""></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="screenshot">
							<a href="assets/images/thumb.png"><img src="assets/images/thumb.png" alt="" title=""></a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="screenshot">
							<a href="assets/images/thumb.png"><img src="assets/images/thumb.png" alt="" title=""></a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="screenshot">
							<a href="assets/images/thumb.png"><img src="assets/images/thumb.png" alt="" title=""></a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="screenshot">
							<a href="assets/images/thumb.png"><img src="assets/images/thumb.png" alt="" title=""></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Screenshots -->

	<!-- Pricing -->
	<section id="pricing" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 headline text-center">
					<h2>How much it costs</h2>
					<h3>Lorem ipsum dolor sit amet elit.</h3>
				</div>
			</div>
			<div class="row">
				<!-- Pricing row -->
				<div class="col-md-12">
					<div class="row price-table align-items-center no-gutters">
						<div class="col-md-4 plan plan-title popular">
							<div class="pricing-box">
								<i class="bi bi-crown"></i>
								<h2>Starter</h2>
								<h5>Monthly Plan</h5>
							</div>
						</div>
						<div class="col-md-5 plan plan-details">
							<div class="pricing-box">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing reprehenderit.</p>
								<ul>
									<li>Personal use</li>
									<li>Page Builder</li>
									<li>Addon Package</li>
									<li class="unavailable"><del>Video Bonus</del></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 plan plan-price">
							<div class="pricing-box">
								<h2>$99</h2>
								<a href="#">Order Now</a>
							</div>
						</div>
					</div>
				</div>
				<!-- End Pricing Row -->
				<!-- Pricing row -->
				<div class="col-md-12">
					<div class="row price-table align-items-center no-gutters noborder-vertical">
						<div class="col-md-4 plan plan-title">
							<div class="pricing-box">
								<i class="bi bi-pillar"></i>
								<h2>Premier</h2>
								<h5>Monthly Plan</h5>
							</div>
						</div>
						<div class="col-md-5 plan plan-details">
							<div class="pricing-box">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing reprehenderit.</p>
								<ul>
									<li>Personal use</li>
									<li class="unavailable"><del>Page Builder</del></li>
									<li>Addon Package</li>
									<li>Video Bonus</li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 plan plan-price">
							<div class="pricing-box">
								<h2>$199</h2>
								<a href="#">Order Now</a>
							</div>
						</div>
					</div>
				</div>
				<!-- End Pricing Row -->
				<!-- Pricing row -->
				<div class="col-md-12">
					<div class="row price-table align-items-center no-gutters">
						<div class="col-md-4 plan plan-title">
							<div class="pricing-box">
								<i class="bi bi-rocket2"></i>
								<h2>Gold</h2>
								<h5>Monthly Plan</h5>
							</div>
						</div>
						<div class="col-md-5 plan plan-details">
							<div class="pricing-box">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing reprehenderit.</p>
								<ul>
									<li>Personal use</li>
									<li>Page Builder</li>
									<li>Addon Package</li>
									<li>Video Bonus</li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 plan plan-price">
							<div class="pricing-box">
								<h2>$499</h2>
								<a href="#">Order Now</a>
							</div>
						</div>
					</div>
				</div>
				<!-- End Pricing Row -->
			</div>
		</div>
	</section>
	<!-- End Pricing -->

	<!-- Testimonials -->
	<section id="testimonials" class="section bg-grey">
		<div class="container">
			<div class="row">
				<div class="col-md-12 headline text-center">
					<h2>What others say</h2>
					<h3>Lorem ipsum dolor sit amet elit.</h3>
				</div>
			</div>
			<div class="testimonial-listing">
				<!-- Testimonial Block -->
				<div class="testimonial-container">
					<div class="row">
						<div class="col-md-6">
							<!-- Testimonial Details -->
							<div class="testimonial-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor nibh eget orci tincidunt placerat. Sed viverra risus nec gravida dapibus.</p>
								<p>In fringilla vestibulum turpis quis condimentum. Aliquam erat volutpat.</p>
							</div>
							<!-- End Testimonial Details -->
							<div class="testimonial-bottom">
								<img src="assets/images/headshot1.png" alt="" title=""><!-- Testimonial Image -->
								<div class="testimonial-author">
									<h5>Justin Doe</h5><!-- Testimonial Author -->
									<div class="stars stars4"></div><!-- Testimonial Rating -->
								</div>
							</div>	
						</div>
						<div class="col-md-6">
							<div class="testimonial-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor nibh eget orci tincidunt placerat. Sed viverra risus nec gravida dapibus. In fringilla vestibulum turpis quis condimentum. Aliquam erat volutpat.</p>
							</div>
							<div class="testimonial-bottom">
								<img src="assets/images/headshot1.png" alt="" title="">
								<div class="testimonial-author">
									<h5>Justin Doe</h5>
									<div class="stars stars4"></div>
								</div>
							</div>	
						</div>
					</div>
				</div>
				<!-- End Testimonial Block -->
				<!-- Testimonial Block -->
				<div class="testimonial-container">
					<div class="row">
						<div class="col-md-6">
							<div class="testimonial-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor nibh eget orci tincidunt placerat. Sed viverra risus nec gravida dapibus.</p>
								<p>In fringilla vestibulum turpis quis condimentum. Aliquam erat volutpat.</p>
							</div>
							<div class="testimonial-bottom">
								<img src="assets/images/headshot1.png" alt="" title="">
								<div class="testimonial-author">
									<h5>Justin Doe</h5>
									<div class="stars stars4"></div>
								</div>
							</div>	
						</div>
						<div class="col-md-6">
							<div class="testimonial-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor nibh eget orci tincidunt placerat. Sed viverra risus nec gravida dapibus. In fringilla vestibulum turpis quis condimentum. Aliquam erat volutpat.</p>
							</div>
							<div class="testimonial-bottom">
								<img src="assets/images/headshot1.png" alt="" title="">
								<div class="testimonial-author">
									<h5>Justin Doe</h5>
									<div class="stars stars4"></div>
								</div>
							</div>	
						</div>
					</div>
				</div>
				<!-- End Testimonial Block -->
			</div>
		</div>
	</section>
	<!-- End Testimonials -->

	<!-- Footer Subscribe -->
	<section id="subscribe" class="section bg-blue">
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3 text-center white-text">
					<h2>Start your FREE trial!</h2>
					<p>Varius feugiat rabitur nulla arcu sodales sapien lacus sed cursus amet cursus porta, egestas luctus feugiat egestas ultrices luctus</p>
					<form action="#" method="get" class="form leads-form" accept-charset="utf-8">
						<div class="input-group">
	            <input type="text" class="form-control" placeholder="Enter your email address..">
	            <span class="input-group-btn">
	              <button class="btn" type="button">Start 14 Days Trial</button>
	            </span>
	        	</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- End Footer Subscribe -->

	<!-- Footer -->
	<footer id="footer" class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<p>© Snowy. All Right Reserved</p>
					</div>
					<div class="col-md-6 text-right hidden-xs-down">
						<p class="copyright">Made with <i class="bi bi-love"></i> by <a href="http://www.simplesphere.net">Simplesphere</a></p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<!-- Modal -->
	<div class="modal fade" id="thank-you" tabindex="-1" role="dialog" aria-labelledby="thank-you" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-body thank-you-msg text-center">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true"><i class="close-modal bi bi-cross"></i></span>
	        </button>
	        <!-- Modal Title -->
	      	<h3>Thank you for signing up!</h3>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum saepe a ad, aspernatur cumque aperiam.</p>
	        <p>Dignissimos architecto vitae expedita necessitatibus, quisquam alias ipsum. Lorum minima dolor facere!</p>
	        <hr>
	        <!-- Social Icons -->
	        <ul class="social">
	        	<li><a href="#"><i class="bi bi-facebook"></i></a></li>
	        	<li><a href="#"><i class="bi bi-twitter-bird"></i></a></li>
	        	<li><a href="#"><i class="bi bi-dribbble"></i></a></li>
	        	<li><a href="#"><i class="bi bi-linkedin"></i></a></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	</div> 
	<!-- Scripts -->
	<script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/slick.min.js"></script>
	<script src="assets/js/simplelightbox.min.js"></script>
	<script src="assets/js/custom.js"></script>

</body>
</html>

